*{margin: 0; padding: 0;}
.fundo{background-color: #f2f2f2;
	height: 100vw;
font-family: arial;}
.calculadora{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: black;
	padding: 15px;
	border-radius: 25px;
}
p,h1{color: white;}
.botão,.botão_top,.botão_side{
	height: 50px;
	width: 50px;
	font-size: 25px;
	cursor: pointer;
	border-radius: 50px;
	border-style: none;
	margin: 1px;
}
.botão_zero{
	height: 50px;
	width: 100px;
	font-size: 25px;
	cursor: pointer;
	border-radius: 50px;
	border-style: none;	
	margin: 1px;
}
.botão,.botão_zero{
	background-color: #353535;
	color: #ffffff;
}
.botão:hover,.botão_zero:hover{
	background-color: #808080;
}
.botão_side{
	background-color: #d16704;
	color: #ffffff;
}
.botão_side:hover{
	background-color: #c78a52;
}
.botão_top{
	background-color: #808080;
}
.botão_top:hover{
	background-color: #dddddd;
}
#resultado{
	width: 207px;
	height: 50px;
	font-size: 40px;
	color: #FFFFFF;
	text-align: right;
	padding: 5px;
}
.resultado{
	overflow: auto;
}


